html {
    box-sizing: border-box;
}

  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%;
    /* --cursive: 'Dancing Script', cursive;
    --serif: 'Playfair Display', serif; */
}

body {
    --body-bg-color: #eae2b7; 

    --header-bg-color: #ebb13d;
    --header-text-color: #F5EFC9;
    --header-border-color: #003049;

    --main-bg-color: #8edac4;

    --footer-bg-color: #ebb13d;
    --footer-text-color: black;
    --footer-border-color: #003049;

    --rules-border-color: rgb(46, 45, 45);
    --score-border-color: rgb(46, 45, 45);

    --game-grid-bg-color: rgb(65, 52, 52);
    --game-grid-border-color: #aaa7a3;
    --game-grid-cell-border-color: rgba(255, 255, 255, 0.041);

    --snake-head-color: #1d6452;
    --snake-body-color: #228f74;

    --item-apple-color: rgb(233, 89, 89);
    --item-banana-color: rgb(235, 235, 74);
    --item-orange-color: rgb(240, 183, 76);

    --modal-content-bg-color: #f7f4e0;
    --modal-content-border-color: #003049; 

    --try-again-button-color: #f7f4e0;
    --try-again-button-bg-color: #da4635;
    --try-again-border-color: #E64C3C;
    --try-again-button-hover-color: #e7e4d1;
    --try-again-button-hover-bg-color: #da4635;

    height: 100vh;
    overflow: hidden;
    background-color: var(--body-bg-color);
    padding: 0;
    margin: 0;
}

body.dark {
    --body-bg-color: #1a1712;

    --header-bg-color: #003049;
    --header-text-color: #F5EFC9;
    --header-border-color: #ebb13d;

    --main-bg-color: #2b2b2b;

    --footer-bg-color: #003049;
    --footer-text-color: #F5EFC9;
    --footer-border-color: #ebb13d;

    --rules-border-color: #f5efc969;
    --score-border-color: #f5efc969;

    --game-grid-bg-color: rgb(65, 52, 52);
    --game-grid-border-color: #aaa7a3;
    --game-grid-cell-border-color: rgba(255, 255, 255, 0.041);

    --snake-head-color: #60A917;
    --snake-body-color: #56c248;

    --item-apple-color: rgb(209, 5, 5);
    --item-banana-color: rgb(245, 245, 7);
    --item-orange-color: rgb(238, 157, 5);

    --modal-content-bg-color: #faf7ec;
    --modal-content-border-color: #003049; 

    --try-again-button-color: #f7f4e0;
    --try-again-button-bg-color: #da4635;
    --try-again-border-color: #E64C3C;
    --try-again-button-hover-color: #e7e4d1;
    --try-again-button-hover-bg-color: #da4635;

}

header {
    background-color: var(--header-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px; 
    margin: 2px 2px;
    border: var(--header-border-color) inset 7px;
}

header > #title-image-left {
    max-height: 180px;
    margin: 0px 10px 0px 40px;
    padding: 10px 0px;
}

header > #title-image-right {
    max-height: 180px;
    margin: 0px 40px 0px 10px;
    padding: 10px 0px;
}

header > #title {
    color: var(--header-text-color);
    font-size: 20rem;    
    margin: 5px 20px;
    padding-top: 25px;
    text-align: center;
    font-family: 'Jomhuria', cursive;
    line-height: 0.48;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    white-space: nowrap;
}

header > #dark-mode-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 45px;
    z-index: 2;
}

main {
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; 
    margin: 2px 2px;
    padding: 1px;
}

main > #game-grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; 
    /* width: clamp(300px, 90vw, 1200px); */
}

main > #game-grid {
    display: grid;
    grid-gap: 0vmin;
    border: var(--game-grid-border-color) 5px inset;
    border-radius: 7px; 
    height: 550px;
    width: 650px;
    height: clamp(400px, 40vw, 1200px); 
    width: clamp(400px, 50vw, 1200px); 
} 
main > #game-grid > .cell {
    background-color: var(--game-grid-bg-color);
    border: var(--game-grid-cell-border-color) 1px solid;
}

main > #game-grid > .item-apple {
    background-color: var(--item-apple-color);
}

main > #game-grid > .item-banana {
    background-color: var(--item-banana-color);
}

main > #game-grid > .item-orange {
    background-color: var(--item-orange-color);
}
main > #game-grid > .snake-head {
    background-color: var(--snake-head-color);
}

main > #game-grid > .snake-body {
    background-color: var(--snake-body-color);
}

footer {
    background-color: var(--footer-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "rules arrows score";
    border-radius: 10px; 
    padding: 0px 40px;
    margin: 2px 2px;
    font-family: 'Josefin Sans', sans-serif;
    border: var(--footer-border-color) inset 4px;
    color: var(--footer-text-color);
}

footer > #game-rules {
    grid-area: rules;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.1rem;
    border:var(--rules-border-color) dotted;
    border-width: 2px;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}

footer > #arrow-button-container {
    grid-area: arrows;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "notl up notr"
        "left nomid right"
        "nobl down nobr";
        
    margin: 15px 40px;
}

footer > #arrow-button-container > img {
    max-height: 85px;
}

footer > #arrow-button-container > #up-arrow-image {
    grid-area: up;
}

footer > #arrow-button-container > #down-arrow-image {
    grid-area: down;
}

footer > #arrow-button-container > #left-arrow-image {
    grid-area: left;
}

footer > #arrow-button-container > #right-arrow-image {
    grid-area: right;
}

footer > #score {
    grid-area: score;

    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "scorewords"
        "scorenumbers";

    margin: 15px;
    border: var(--score-border-color) dotted;
    border-width: 2px;
    border-radius: 15px; 
    padding: 40px 0px 50px 0px;
}

footer > #score > #score-title {
    grid-area: scorewords;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin: 0 10px;
}

footer > #score > #score-number {
    grid-area: scorenumbers;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12.5rem;
    margin: 0 10px;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgba(0,0,0,0.4);  */
}

#modal-window {
    display: none; /* Hidden by default */
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--modal-content-bg-color);
    margin: auto; /* XX% from the top and centered */
    width: clamp(300px, 30%, 550px); /* Could be more or less, depending on screen size */
    padding: 20px;
    border: var(--modal-content-border-color) solid 4px;
    border-radius: 10px; 
    font-family: 'Jomhuria', cursive;
}

#modal-text {
    color: #003049;
    font-size: 7rem;
    text-align: center;
    margin: 0px 0 0 0;
}

/* The Close Button */
#try-again-btn {
    /* display: none; */
    color: var(--try-again-button-color);
    background-color: var(--try-again-button-bg-color);
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    border: var(--try-again-border-color) outset;
    border-width: 4px;
    border-radius: 10px; 
    padding: 10px 10px 5px 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#try-again-btn:hover,
#try-again-btn:focus {
    color: var(--try-again-button-hover-color);
    background-color: var(--try-again-button-hover-bg-color);
    text-decoration: none;
    cursor: pointer;
}

/* small screen styling */
@media only screen and (max-width: 1124px)  {

    header > #title-image-left {
        max-height: 136px;
        margin: 0px 0px 0px 45px;
        padding: 7px 0px;
    }
    
    header > #title-image-right {
        max-height: 136px;
        margin: 0px 45px 0px 0px;
        padding: 7px 0px;
    }

    header > #title {
        font-size: 14rem;  
        padding-top: 25px;
        
        margin: 5px 16px;
    }

    header > #dark-mode-btn {
        width: 43px
    }

    footer {
        height: 31vh;
        padding: 0px 20px;
    }

    footer > #game-rules {
        height: 25vh;
        padding: 6px;
        font-size: 1.9rem;
    }

    footer > #arrow-button-container {
        height: 27vh;
        grid-template-areas: 
        "notl up notr"
        "left down right"
        "nobl nomid nobr";
    }

    footer > #arrow-button-container > img {
        max-height: 100px;
        margin: 2px;
    }

    footer > #score {
        height: 27vh;
        font-size: 1.6rem;
    }

    footer > #score > #score-title {
        padding: 1px 1px 1px 1px;
    }

    footer > #score > #score-number {
        padding-top: 10px;
    }
}

/* ipad/table styling */
@media only screen and (max-width: 768px)  {

    header > #title-image-left {
        max-height: 140px;
        margin: 0px 0px 0px 45px;
        padding: 7px 0px;
    }
    
    header > #title-image-right {
        max-height: 140px;
        margin: 0px 45px 0px 0px;
        padding: 7px 0px;
    }

    header > #title {
        font-size: 15rem;    
        margin: 5px 8px 0 8px;
        padding: 22px 0 0 0;
        white-space: normal;
    }

    header > #dark-mode-btn {
        top: 3px;
        right: 4px;
        width: 35px;
    }

    main > #game-grid {
        height: 65vw; 
        width: 80vw; 
    }
    
    footer {
        height: 32vw; 
        margin: 0px 0px 55px 0px;
        padding: 0px 5px;
    }

    footer > #game-rules {
        height: 25vw;
        font-size: 1.6rem;
    }

    footer > #arrow-button-container {
        height: 26vw; 
        margin: 8px 0px;
        grid-template-areas: 
        "notl up notr"
        "left down right"
        "nobl nomid nobr";
    }

    footer > #arrow-button-container > img {
        max-height: 90px;
        padding: 2px 0px 0px 0px;
    }

    footer > #score {
        height: 26vw; 
        padding: 20px 0px 20px 0px;
    }
    
    footer > #score > #score-title {
        font-size: 3rem;
    }
    
    #modal-text { font-size: 6rem; }

    #try-again-btn { font-size: 3rem; }
}

/* iphone styling */
@media only screen and (max-width: 570px)  {

    header {
        height: 30vw; 
        margin: 5px 0 0 0;
    }

    header > #title-image-left {
        max-height: 65px;
        margin: 0px 0px 0px 20px;
        padding: 2px 0px;
    }
    
    header > #title-image-right {
        max-height: 65px;
        margin: 0px 20px 0px 0px;
        padding: 2px 0px;
    }

    header > #title {
        font-size: 8.2rem;    
        margin: 5px 5px 0px 5px;
        padding: 3px 0 0px 0px;
        white-space: normal;
    }

    header > #dark-mode-btn {
        top: 2px;
        right: 1px;
        width: 25px;
    }

    main > #game-grid {
        border: var(--footer-border-color) 5px inset;
        height: 82vw; 
        width: 100vw; 
    }

    footer {
        margin: 0px 0px 55px 0px;
        padding: 0px 2px;
        border: var(--footer-border-color) inset 5px;
        height: 28vh
    }

    footer > #game-rules {
        display: none;
        padding: 0px 0px;
    }

    footer > #arrow-button-container {
        margin: 3px 0px;
        grid-template-areas: 
        "notl up notr"
        "left down right"
        "nobl nomid nobr";
    }

    footer > #arrow-button-container > img {
        max-height: 88px;
        margin: 3px;
    }

    footer > #score {
        display: none;
        padding: 0px 0px;
    }
    
    footer > #score > #score-title {
        font-size: 3rem;
        margin: 0 0px;
    }
    
    footer > #score > #score-number {
        margin: 0 0px;
    }
}