html {
    box-sizing: border-box;
}

  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%;
    /* --cursive: 'Dancing Script', cursive;
    --serif: 'Playfair Display', serif; */
}

body {
    --body-bg-color: #eae2b7;

    --header-bg-color: #fcbf49;
    --header-text-color: #003049;

    --main-bg-color: #d62828;

    --footer-bg-color: #f77f00;
    --rules-border-color: rgb(46, 45, 45);
    --score-border-color: rgb(46, 45, 45);

    --game-grid-bg-color: #80cbc4;;
    --game-grid-border-color: #fff;

    --snake-head-color: black;
    --snake-body-color: rgb(50, 49, 49);

    --item-apple-color: rgb(233, 89, 89);
    --item-banana-color: rgb(235, 235, 74);
    --item-orange-color: rgb(240, 183, 76);

    --modal-content-bg-color: #faf7ec;
    --modal-content-bg-border-color: ##003049; 

    --try-again-button-color: #d62828;
    --try-again-border-color: #d62828;
    --try-again-button-hover-color: #d62828;
    --try-again-button-hover-bg-color: rgba(0,48,73,0.1);


    height: 100vh;
    overflow: hidden;
    background-color: var(--body-bg-color);
}

body.dark {
    --body-bg: #222e2b;
}

header {
    background-color: var(--header-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header > #title-image {
    max-height: 180px;
    padding: 15px 0 10px 90px;
}

header > #title {
    color: var(--header-text-color);
    font-size: 3.2rem;    
    margin: 0 90px 0 0;
    text-align: center;
}

header > #dark-mode-btn {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 45px;
    z-index: 1;
}

main {
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

main > #game-grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

main > #game-grid {
    display: grid;
    /* grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(13, 1fr); */
    grid-gap: 0vmin;
} 
main > #game-grid > .cell {
    background-color: var(--game-grid-bg-color);
    border: 1px solid var(--game-grid-border-color);
}

main > #game-grid > .item-apple {
    background-color: var(--item-apple-color);
}

main > #game-grid > .item-banana {
    background-color: var(--item-banana-color);
}

main > #game-grid > .item-orange {
    background-color: var(--item-orange-color);
}
main > #game-grid > .snake-head {
    background-color: var(--snake-head-color);
}

main > #game-grid > .snake-body {
    background-color: var(--snake-body-color);
}

footer {
    background-color: var(--footer-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "rules arrows score";
    padding: 0px 40px;
}

footer > #game-rules {
    grid-area: rules;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    border:var(--rules-border-color) dotted;
    border-width: 2px;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}

footer > #arrow-button-container {
    grid-area: arrows;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "notl up notr"
        "left nomid right"
        "nobl down nobr";
        
    margin: 15px 40px;
}

footer > #arrow-button-container > img {
    max-height: 95px;
}

footer > #arrow-button-container > #up-arrow-image {
    grid-area: up;
}

footer > #arrow-button-container > #down-arrow-image {
    grid-area: down;
}

footer > #arrow-button-container > #left-arrow-image {
    grid-area: left;
}

footer > #arrow-button-container > #right-arrow-image {
    grid-area: right;
}

footer > #score {
    grid-area: score;

    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "scorewords"
        "scorenumbers";

    margin: 15px;
    border: var(--score-border-color) dotted;
    border-width: 2px;
    border-radius: 15px; 
}

footer > #score > #score-title {
    grid-area: scorewords;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin: 80px 0 -20px 0;
    padding: 0;
}

footer > #score > #score-number {
    grid-area: scorenumbers;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    margin: -60px 0 0 0;
    padding: 0;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgba(0,0,0,0.4);  */
}

#modal-window {
    display: none; /* Hidden by default */
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--modal-content-bg-color);
    margin: 35% auto; /* XX% from the top and centered */
    width: 35%; /* Could be more or less, depending on screen size */
    padding: 20px;
    border: var(--modal-content-bg-border-color) solid 3.5px;
}

#modal-text {
    color: #003049;
    font-size: 3rem;
    text-align: center;
    margin-top: 25px;
}

/* The Close Button */
#try-again-btn {
    /* display: none; */
    color: var(--try-again-button-color);
    font-size: 2.15rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    border: var(--try-again-border-color) outset;
    border-width: .5px;
    border-radius: 10px; 
    padding: 10px;;
}

#try-again-btn:hover,
#try-again-btn:focus {
    color: var(--try-again-button-hover-color);
    background-color: var(--try-again-button-hover-bg-color);
    text-decoration: none;
    cursor: pointer;
}